
  {% extends "base.html" %}
  {% block content %}
      
        <div class="form-card container">
            <div class="row">
            <div class="col-lg-12 no-float">
          
         
            <div class="card mr-1">
              <div class="card-body">
                <h5 class="card-title">Train</h5>
                {% for i in layers %}
                <form  action = "http://localhost:5000/layers" method = "POST"
                  enctype = "multipart/form-data">
                  <p class="card-text">
                <div class="form-group row">         
                    <label class="col-sm-12 col-form-label">Layer {{ i }}</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputlayer{{i}}" name="{{i}}">
                    </div>
                  </div>
                </p> 
                  {% endfor %}                  
                <span ><button class="btn btn mybts" type = "submit" >Train</button></span>
                <span ><button class="btn btn mybts" type = "submit">Predict</button></span> 
            </form>    </div></div></div></div></div>         
                     
    
      <footer />
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
       
  
{% endblock %}
